@import '_vars';

.search-form {
  width: 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -21px;
  overflow: hidden;
  transition: width 300ms ease-in-out;
  input {
    width: 100%;
    border: 1px solid #006843;
    box-shadow: 0 0 2px rgba(89, 86, 86, 0.5);
    border-radius: 3px;
    padding: 7px 60px 7px 10px;
    &:focus {
      outline: none;
    }
  }
  &--close {
    position: absolute;
    top: 7px;
    right: 36px;
    border: 0;
    background-color: transparent;
    i {
      color: #8B8D8D;
    }
  }
  &--submit {
    display: block;
    color: #fff;
    background-color: $green;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6px;
    right: 6px;
    border: 0;
    border-radius: 3px;
  }
  &--result {
    display: none;
    width: 500px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #E9EAEB;
    overflow: hidden;
    &-all {
      padding: 15px;
      color: $green;
      &:hover {
        text-decoration: none;
      }
      span {
        border-bottom: 1px dashed $green;
      }
    }
  }
  &--result-item {
    border-bottom: 1px solid #E9EAEB;
    display: flex;
    align-items: center;
  }

  &--result-img {
    display: block;
    width: 120px;
    min-width: 120px;
    padding: 5px;
    border-right: 1px solid #E9EAEB;
    text-align: center;
    img {
      max-height: 60px;
    }
  }
  &--result-text {
    padding: 20px;
    line-height: 14px;
  }

  &--open {
    width: 500px;
    z-index: 12;
  }
}


.show-search-form {
  cursor: pointer;
}


