@import '_vars';


body {
  font-size: 16px;
  min-width: 800px;
  position: relative;
  line-height: 1.65;
  font-family: "Geometria", sans-serif;
  overflow-x: hidden;
  color: $black;
}


a {
  display: inline-block;
  color: $black;
  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}


.align-top {
  margin: -5px 5px 0 0;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-25 {
  margin-bottom: 40px;
}

.m-b-20 {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.sp-section {
  position: relative;
  &--title {
    font-family: 'HeliosCond', serif;
    font-size: 70px;
    line-height: 75px;
    text-transform: uppercase;
    color: #101112;
    margin: 50px 0;
  }
}

a.grey {
  color: $grey;
  border-bottom: 1px dashed #101112;
  &:hover,
  &:focus {
    border-bottom: 1px dashed transparent;
    text-decoration: none;
    color: $grey;
  }
}


.green {
  color: $green;
  &:focus,
  &:hover {
    text-decoration: none;
    color: $green;
  }

}

.grey {
  color: $grey;
}

.bold {
  font-family: "Geometria-Bold", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}


.btn {
  padding: 19px 37px;
  border: 1px solid #006843;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: $darkGrey;
  font-family: 'GothamPro-Bold', serif;
  transition: background-color 400ms ease, color 400ms ease;
  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: $green;
  }
  &-full {
    background-color: $green;
    color: #fff;
    &:hover {
      text-decoration: none;
      color: $green;
      background-color: #fff;
    }
  }
}


h2 span {
  color: $green;
}

section {
  background-color: #fff;
}

.video-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.sp-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video-wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}

.image-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}


.t-center {
  text-align: center;
}


.relative {
  position: relative;
}


body.overlay {
  overflow: hidden;
  margin-right: 15px;
}
.sp-block--overlay {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 11;
}

.js-scroll {
  min-height: 800px;
}

.sp-checkbox {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  &--input {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    &:checked + span:before {
      background-image: url('../img/icons/checkbox.svg');
      background-repeat: no-repeat;
      background-position: 4px 5px;
    }
  }
  &--span {
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid #E9EAEB;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      display: inline-block;
      vertical-align: middle;
      margin: -4px 10px 0 0;
    }
  }
}


.ya-map--icons {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}

.ya-map--icons span {
  margin: 0 10px;
}

.ya-map--icons span img  {
  margin-right: 5px;
}



h1 {
  font-family: 'HeliosCond';
  font-size: 70px;
  line-height: 80px;
  margin: 40px 0;
}

.grey-section {
  padding: 30px 0;
  background-color: #F5F3F3;
}

.check-ul {
  padding: 0;
  list-style-type: none;
}

.check-ul li {
  padding: 4px 0;
  &:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 11px;
    background-image: url('../img/icons/ul-check.svg');
    margin-right: 10px;
  }
}

.sp-form {
  max-width: 600px;
  font-size: 14px;
  line-height: 13px;
  &--title {
    color: #101112;
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  label {
    margin-bottom: 30px;
    display: block;
  }
  sup {
    color: red;
    font-family: 'GothamPro-Bold', serif;
  }
  .chosen-container {
    min-width: 100%;
    max-width: 100%;
  }
  .chosen-container .chosen-drop {
    width: 100%;
  }
}


.sp-error {
  input[type='text'],
  input[type='password'] {
    background: #FFF4F4;
    border: 1px solid #FF0000;
    &:focus {
      border: 1px solid #FF0000;
    }
  }
}
.sp-error-name {
  font-size: 11px;
  line-height: 11px;
  color: #FF4B4B;
}



.thank-message {
  font-family: 'HeliosCond', serif;
  font-size: 34px;
  line-height: 40px;
  color: #101112;
  &:before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 25px;
    margin-right: 30px;
    background-image: url('../img/icons/thanks-check.svg');
  }
}